.venv/
__pycache__/
*.pyc
*.pyo
.pytest_cache/
/data/raw/hc_adni_brain_mask/
/data/raw/hc_nifd_brain_mask/
/data/raw/hc_oasis1_brain_mask/
/data/raw/hc_oasis2_brain_mask/
/data/raw/hc_oasis3_brain_mask/
/data/raw/hc_ppmi_brain_mask/
/data/processed/embeddings/hc_adni_brain_mask
/data/processed/embeddings/hc_nifd_brain_mask
/data/processed/embeddings/hc_oasis1_brain_mask
/data/processed/embeddings/hc_oasis2_brain_mask
/data/processed/embeddings/hc_oasis3_brain_mask
/data/processed/embeddings/hc_ppmi_brain_mask
*.pth
*.pt
logs/
mlruns/
.ipynb_checkpoints/
.DS_Store
*.out
outputs/models/*.pt
outputs/models/*.pth
!outputs/models/.gitkeep
outputs/generated/*
!outputs/generated/.gitkeep
outputs/tfevent/