torch==2.7.0
torchvision==0.22.0
monai==1.5.2
monai-generative==0.2.3
numpy>=1.24.0
nibabel>=5.0.0
scipy>=1.10.0
scikit-image>=0.20.0
SimpleITK
accelerate==0.32.1
einops>=0.7.0
mlflow==2.19.0
tensorboard>=2.14.0
matplotlib>=3.7.0
tqdm>=4.65.0
PyYAML>=6.0
fire>=0.5.0
huggingface_hub>=0.20.0
pytorch-msssim
lpips
dvc
torchmetrics==1.9.0
lightning-utilities==0.15.3
